@model IEnumerable<ODataBookStore.Web.Models.PressModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Press Management</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table mt-4" id="press-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        function goToEditPage(id) {
            location.assign(`https://localhost:7261/Press/Edit/${id}`)
        }

        function goToDetailPage(id) {
            location.assign(`https://localhost:7261/Press/Details/${id}`)
        }

        function deletePress(id) {
            fetch(`https://localhost:7129/odata/presses/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem('book_token')
                }
            }).then(() => {
                $("#press-table").DataTable().destroy();
                fetchPressData();
            })
        }

        function fetchPressData() {
            fetch("https://localhost:7129/odata/presses", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem('book_token')
                }
            }).then((response) => response.json())
                .then(data => {
                    const items = data.value;
                    $("#press-table").DataTable({
                        data: items.map((item) => [item.Id, item.Name, item.Category]),
                        columns: [
                            { title: "ID" },
                            { title: "Name" },
                            { title: "Category" },
                            {
                                title: "Action",
                                render: function (data, type, row) {
                                    if (localStorage.getItem('role') == 1) return '';
                                    // Assuming you want to create a button for each row
                                    return '<div>' + editBtn(row[0]) + detailBtn(row[0]) + deleteBtn(row[0]) + '</div> ';
                                },
                            },
                        ],
                    });

                })
        }

        const editBtn = (id) => {
            return '<button class="btn btn-primary" onclick = "goToEditPage(' + id + ')" style = "color: black; padding: 5px 15px !important; margin-right: 20px"> Edit </button>';
        }

        const deleteBtn = (id) => {
            return '<button class="btn btn-primary" onclick = "deletePress(' + id + ')" style = "color: black; padding: 5px 15px !important; margin-right: 20px"> Delete </button>';
        }

        const detailBtn = (id) => {
            return '<button class="btn btn-primary" onclick = "goToDetailPage(' + id + ')" style = "color: black; padding: 5px 15px !important; margin-right: 20px"> Details </button>'
        }

        $(document).ready(function () {
            fetchPressData()
        });
    </script>
}