
<h1>Create new book</h1>

<hr />
<form method="post" id="create-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ISBN" class="control-label"></label>
                <input name="ISBN" placeholder="Enter ISBN here" class="form-control" />
            </div>
            <div class="form-group mt-4">
                <label for="title" class="control-label"></label>
                <input name="title" placeholder="Enter book title here..." class="form-control" />
            </div>
            <div class="form-group mt-4">
                <label for="author" class="control-label"></label>
                <input name="author" placeholder="Enter author here..." class="form-control" />
            </div>
            <div class="form-group mt-4">
                <label for="price" class="control-label"></label>
                <input name="price" placeholder="Enter the price here..." class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city" class="control-label"></label>
                <input name=city placeholder="Enter the city here..." class="form-control" />
            </div>
            <div class="form-group mt-4">
                <label for="street" class="control-label"></label>
                <input name="street" placeholder="Enter the street here..." class="form-control" />
            </div>
            <div class="form-group mt-4">
                <label for="pressId" class="control-label"></label>
                <select name="pressId" placeholder="Enter pressId here..." class="form-control" id="press-selects"></select>
            </div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-center mt-4">
        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
            fetch("https://localhost:7129/odata/presses", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem('book_token')
                }
            }).then((response) => response.json())
                .then(data => {

                    const items = data.value;
                    const $options = $("#press-selects");
                    $options.empty();
                    $.each(items, function (key,value) {
                        $options.append($("<option></option>")
                            .attr("value", value.Id).text(value.Name));
                    })

                })
            $("#create-form").on("submit", function (event) {
                event.preventDefault();
                var form = $(this);
                const params = new URLSearchParams(form.serialize());
                var actionUrl = "https://localhost:7129/odata/books"
                $.ajax({
                    headers: {
                    "Authorization": "Bearer " + localStorage.getItem('book_token')
                    },
                    contentType: "application/json",
                    url: actionUrl,
                    method: "post",
                    data: JSON.stringify({
                        ISBN: params.get("ISBN"),
                        title: params.get("title"),
                        author: params.get("author"),
                        price: params.get("price"),
                        location: {
                            city: params.get("city"),
                            street: params.get("street")
                        },
                        pressId: params.get("pressId")
                    }),
                    success: function (result) {
                        window.location.replace("/Book/Index");
                    }
                });
            });

        

    </script>
}
