@model IEnumerable<ODataBookStore.Web.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Book Management</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="display:flex; justify-content:flex-end">
        <button>
            <a asp-action="Create">Create New</a>
        </button>
    </div>
}

<table class="table mt-4" id="book-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Press name</th>
    </tr>
    </thead>
</table>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            fetch("https://localhost:7129/odata/books", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + localStorage.getItem('book_token')
                }
            }).then((response) => response.json())
                .then(data => {

                    const items = data.value;
                    $("#book-table").DataTable({
                        data: items.map((item) => [item.Id, item.ISBN, item.Title, item.Author, item.Price, item.PressId]),
                    });

                })
           
        });
    </script>
}